# Symlink to ../dice3-openocd.cfg or use that directly.
# See ../dice3-openocd.cfg for the verified config:
#   ARM926EJ-S, IDCODE 0x17900F0F, FT232R bit-bang
#
# Usage:
#   openocd -f dice3-openocd.cfg -f jtag/trigger_bt.tcl
